@using PIO.Models.Domain
@using PIO.ViewModels

@model HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h3>Најнови прашања</h3>
    <div class="row">
        @foreach(var q in Model.LatestQuestions)
        {
            <div class="row">
                @q.Title
            </div>
        }
    </div>
</div>

<div class="row">
    <h3>Нови неодговорени прашања</h3>
    <div class="row">
        @foreach (var q in Model.LatestUnansweredQuestions)
        {
            <div class="row">
                @q.Title
            </div>
        }
    </div>
</div>