 @using PIO.Models.Domain

<br />
@Html.ActionLink("Постави прашање", "Add", "Question", null, new { @class = "btn btn-success", style="width: 100%" })

<h3>Категории</h3>
@helper ShowCategoryTree(ICollection<Category> categories)
{
    <div class="list-group">
        @foreach (var category in categories)
        {
            <div class="list-group-item list-group-item-action">
                @Html.ActionLink(category.Name, "Details", "Category", new { id = category.Id }, null)
                @if (category.Subcategories != null && category.Subcategories.Any())
                {
                    @ShowCategoryTree(category.Subcategories)
                }
            </div>
        }
    </div>
}

@if (ViewBag.CategoryTree != null)
{
    @ShowCategoryTree(ViewBag.CategoryTree)
}
