@using PIO.Models.Domain
@using Microsoft.AspNet.Identity

@model Answer

<div class="container col-md-8" style="margin-top:20px">
    @using (Html.BeginForm("Add", "Answer", FormMethod.Post))
    {
        <form>
            <div class="form-group">
                @Html.LabelFor(m => m.Content, "Одговор:", new { style = "font-size:20px" })
                @Html.TextAreaFor(m => m.Content, 5, 70, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Content)
            </div>
            <div class="form-group">
                <span>@DateTime.Now</span>
            </div>
            <button type="submit" class="btn btn-primary">Одговори</button>
        </form>
    }
 </div>
