body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.question-list-item {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
}

.question-list-item-votes {
    font-size: 22px;
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
    color: #444;
    text-align: center;
    width: 7%;
    margin-right: 10px;
}

.question-list-item-title {
    font-size: 24px;
}

.question-list-item .btn {
    padding: 3px;
    font-size: 12px;
}

.answer-list-item-content{
    font-size:22px;
}
